div.map {
	width: 100%;
	height: 300px;
	background-color: grey;
}

div.message {
	margin-top: 4%;
}

div.description {
	margin-top: 2%;
}

@media (max-width: 800px) {
	div.description {
		width: 100%;
	}
	div.btns {
		padding-top: 20%;
	}
}

div.btns {
	text-align: center;
	text-decoration: none;
}

input.button {
	border: none;
	background-color: rgba(255,255,255, 0);
}