.listElement {
  margin-bottom: 20px;
}

.eventDescription {
  display: inline-block;
  vertical-align: middle;
  float: none;
  margin-top: 2.3%;
}

.color {
	background-color: #f4f4f4;
	padding-bottom: 2%;
}


@media (max-width: 940px) { 
	#radiusSelect {
		width: 25%;
	}
	hr {
		margin-left: 0%;
	}
	.listContainer, .listElement {
		text-align: center;
	}
	.shape {
		width: 20%;
	}
	#map {
		margin-left: -3.5%;
	}
}