.message {
    margin-top: 2%;
}

@media (max-width: 900px) {
    form, .title, .time {
        padding-left: 0%;
    }
    
    .time {
        margin-left: -.1%;
    }

    input, textarea {
        width: 100%;
    }
}