/*---------------------------------------------------------*/
/*--------------------- APP-WIDE CSS ----------------------*/
/*---------------------------------------------------------*/
body{ 
  background-color: #f1f1f1;
  margin-bottom: 20px;
}
p { font-family: 'ProximaNova-reg';}
h1{ font-family: 'ProximaNova-reg';}
h2{ font-family: 'ProximaNova-reg';}
h3{ font-family: 'ProximaNova-reg';}
h4{ font-family: 'ProximaNova-bold';}
h5{ 
  font-family: 'ProximaNova-reg';
  font-size: 16px;
}
h6{ 
  font-family: 'ProximaNova-thin';
  font-size: 16px;
}


/*---------------------------------------------------------*/
/*--------------------- Navbar ----------------------------*/
/*---------------------------------------------------------*/
#custom-nav{
  border-right: .5px solid #D2D6DF;
}

a.nav-link:hover, a.nav-link:active {
  /*need to add css for active link in nav*/
}

.menuselect {
  width: 90%;
  height: 3px;
  background-color: black;
}

/*---------------------------------------------------------*/
/*------------------- Landing Page ------------------------*/
/*---------------------------------------------------------*/
.landing-bg {
  background: url(./assets/landing-bg.jpg) no-repeat;
  background-size: cover;
  height: 100%;
  background-position: center;
  text-align: center;
}

.landing-links{
  vertical-align: middle;
}

a.landing-pg-links:link, a.landing-pg-links:hover, a.landing-pg-links:active {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-family:'ProximaNova-Reg';
}

.landing-pg-links-main {
  font-size: 30px;
  font-family:'ProximaNova-Bold';
  color:#fff;
  padding-top:90px;
}

.landing-sub-img-1 {
  background: url(./assets/pic1.jpg) no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 175px;
  background-position: center;
  text-align: center;
}

.landing-sub-img-2 {
  background: url(./assets/pic2.jpg) no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 175px;
  background-position: center;
  text-align: center;
}

#location-submit-button {
  background-color: #4AC1C0;
  border: 1.75px #4AC1C0 solid;
  border-radius: 0px;
  color:#fff;
  font-family:'ProximaNova-thin';
  height:50px;
}


/*---------------------------------------------------------*/
/*------------------- Explorer Page ------------------------*/
/*---------------------------------------------------------*/
.eventDescription {
  display: inline-block;
  vertical-align: middle;
  float: none;
  margin-top: 2.3%;
}

/*alternating event list row color*/
.color {
  background-color: #f4f4f4;
  padding-bottom: 2%;
}

.alert-info {
  width: 50%;
  text-align: center;
}

.hidden {
  display: none;
}

@media (max-width: 940px) { 
  #radiusSelect {
    width: 25%;
  }
  hr {
    margin-left: 0%;
  }
  .listContainer, .listElement {
    text-align: center;
  }
  .shape {
    width: 20%;
  }
  #map {
    margin-left: -3.5%;
  }
}


/*---------------------------------------------------------*/
/*------------- Map, Map Search, and Radius ---------------*/
/*---------------------------------------------------------*/
#map {
  height: 250px;
}

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#locSearch, #radiusSelect {
  font-family: 'ProximaNova-light';
  font-size: 15px;    
  text-overflow: ellipsis;
  width: 200px;
  height: 34px;
  padding: 6px 12px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#locSearch:focus, #radiusSelect:focus {
  border-color: #4d90fe;
}

#submitSearch {
  font-family: 'ProximaNova-light';
  font-size: 15px;
  background-color: #fff;    
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
}

#submitSearch:focus {
  border-color: #4d90fe;
}


/*---------------------------------------------------------*/
/*------------------------ FONTS --------------------------*/
/*---------------------------------------------------------*/
@font-face {
  font-family: 'ProximaNova-Reg';
  src: url('/fonts/ProximaNova-Reg.otf');
}
@font-face {
  font-family: 'ProximaNova-Black';
  src: url('/fonts/ProximaNova-Black.otf');
}
@font-face {
  font-family: 'ProximaNova-Bold';
  src: url('/fonts/ProximaNova-Bold.otf');
}
@font-face {
  font-family: 'ProximaNova-Thin';
  src: url('/fonts/ProximaNova-Thin.otf');
}
@font-face {
  font-family: 'ProximaNova-Light';
  src: url('/fonts/ProximaNova-Light.otf');
}