/*---------------------------------------------------------*/
/*------------------------ FONTS --------------------------*/
/*---------------------------------------------------------*/
@font-face {
  font-family: 'ProximaNova-Reg';
  src: url('/fonts/ProximaNova-Reg.otf');
}
@font-face {
  font-family: 'ProximaNova-Black';
  src: url('/fonts/ProximaNova-Black.otf');
}
@font-face {
  font-family: 'ProximaNova-Bold';
  src: url('/fonts/ProximaNova-Bold.otf');
}
@font-face {
  font-family: 'ProximaNova-Thin';
  src: url('/fonts/ProximaNova-Thin.otf');
}
@font-face {
  font-family: 'ProximaNova-Light';
  src: url('/fonts/ProximaNova-Light.otf');
}
/*---------------------------------------------------------*/
/*--------------------- APP-WIDE CSS ----------------------*/
/*---------------------------------------------------------*/
body{ background-color: #f1f1f1;}
h1{ font-family: 'ProximaNova-reg';}
h2{ font-family: 'ProximaNova-reg';}
h3{ font-family: 'ProximaNova-reg';}
h4{ font-family: 'ProximaNova-reg';}
h5{ font-family: 'ProximaNova-reg';}
h6{ font-family: 'ProximaNova-bold';}
p { font-family: 'ProximaNova-reg';}

/*---------------------------------------------------------*/
/*--------------------- Navbar ----------------------------*/
/*---------------------------------------------------------*/
#custom-nav{
  border-right: .5px solid #D2D6DF;
}

a.nav-link:hover, a.nav-link:active {
  /*need to add css for active link in nav*/
}

/*---------------------------------------------------------*/
/*------------------- Landing Page ------------------------*/
/*---------------------------------------------------------*/
.landing-bg {
  background: url(./assets/landing-bg.jpg) no-repeat;
  background-size: cover;
  height: 100%;
  background-position: center;
  text-align: center;
}

.landing-links{
  vertical-align: middle;
}

a.landing-pg-links:link, a.landing-pg-links:hover, a.landing-pg-links:active {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-family:'ProximaNova-Reg';
}

.landing-pg-links-main {
  font-size: 30px;
  font-family:'ProximaNova-Bold';
  color:#fff;
  padding-top:90px;
}

.landing-sub-img-1 {
  background: url(./assets/pic1.jpg) no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 175px;
  background-position: center;
  text-align: center;
}

.landing-sub-img-2 {
  background: url(./assets/pic2.jpg) no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 175px;
  background-position: center;
  text-align: center;
}

#location-submit-button {
  background-color: #4AC1C0;
  border: 1.75px #4AC1C0 solid;
  border-radius: 0px;
  color:#fff;
  font-family:'ProximaNova-thin';
  height:45px;
}

/*---------------------------------------------------------*/
/*-------------- Alex/Jemil original css ------------------*/
/*---------------------------------------------------------*/
#map {
  height: 250px;
}

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#locSearch, #radiusSelect {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 200px;
}

#locSearch:focus, #radiusSelect:focus {
  border-color: #4d90fe;
}

#submitSearch {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
}

#submitSearch:focus {
  border-color: #4d90fe;
}
