<div class='container container-fluid' ng-controller='nomadCtrl'>
  <div class='row'>
    <div class='col-md-12 title'>
      <div class='create-event'><h3>Create Event</h3></div>
    </div>
    <div class=''>
      <form>
        <div class='col-md-12 form-group'>
          <h5>Event Name</h5></br>
          <input class='col-md-9' type='text' ng-model='eventName'>
        </div>
        <div class='col-md-12 form-group'>
          <h5>Host Name</h5></br>
          <input class='col-md-9' type='text' ng-model='hostName'>
        </div>
        <div class='col-md-12 form-group'>
          <h5>Event Description</h5></br>
          <textarea class='col-md-9' ng-model='description' style='resize:none'></textarea>
        </div>
        <div class='col-md-12 form-group'>
          <h5>Location</h5></br>
          <input id='locSearch' class='controls rectangle-2' type='text' placeholder='search your location'>
          <!-- <input type='button' value='Use Address' ng-click='useAddress()'> -->
          <button type="button" class="btn btn-default location-submit-button" ng-click='useAddress()'>Use Address</button>
          <div  ng-model='addressMsg' class='col-md-9 message {{ addressMsg.class }}'>{{ addressMsg.msg }}</div>
        </div>
        <div class='col-md-12 form-group'>
          <h5>Event Date</h5></br>
          <input type="date" value="yyyy-mm-dd" class="input-medium search-query col-md-9" onkeypress="return false" ng-model='date'>
        </div>
        <div class='col-md-5 form-group'></br>
          <h5 class=''>Start Time</h5>
          <input class='time col-md-9' type='time' ng-model='startTime'>
        </div>
        <div class='col-md-5 form-group'></br>
          <h5 class=''>End Time</h5>
          <input class='time col-md-9' type='time' ng-model='endTime'>
        </div>
        <!-- <input type='button' value='addTimes' ng-click='addTimes()'> -->
        <div class='col-md-12 form-group'></br>
          <!-- <input type='button' value='Submit' ng-click='checkInputs()'> -->
          <button type="button" class="btn btn-default location-submit-button" ng-click='checkInputs()'>Submit Event</button>
        </div>
      </form>
    </div>
</div>
