<!-- START NAVBAR -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">  
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/#/">NOMAD</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li id="custom-nav"><a href='#/nomad' >Create Event</a> <div class='menuselect'></div></li>
          <li id="custom-nav"><a href='#/explorer'>Explore Events</a></li>
          <li id="custom-nav"><a href='/#/'>Sign In</a></li>
          <li><a href='/#/'>Sign Up</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- END NAVBAR -->


<!-- BODY CONTAINER -->
<div ng-controller='nomadCtrl' class="container-fluid" style="margin-top: 50px">
  <!-- start  header row -->
  <div class="row">    
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h3>Create Event</h3>
    </div>
    <div class="col-md-2"></div>
  </div>
  <!-- end header row -->
  
  <!-- start body content row -->
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div  ng-model='inputMsg' class='message {{ inputMsg.class }}'>{{ inputMsg.msg }}</div>

      <form class="form-group">        
        <h5>Event Name</h5>
        <input ng-model='eventName' type="text" placeholder="" class="form-control" ng-change='checkInputs()' ></input>
        <h5>Host Name</h5>
        <input ng-model='hostName' type='text' class="form-control" ng-change='checkInputs()' >
        <h5>Event Description</h5>
        <textarea ng-model='description' class="form-control" style="height:75px" ng-change='checkInputs()' ></textarea>                     
        <h5>Event Location</h5>             
        <div class="input-group">          
          <input id='locSearch' type='text' placeholder='search for your location' class="form-control">
        </div>
        <div class="row">    
          <div class="col-md-4">
            <h5>Event Date</h5>
            <input type="date" value="yyyy-mm-dd" class="form-control input-medium search-query " onkeypress="return false" ng-model='date' ng-change='checkInputs()'> 
          </div>        

          <div class="col-md-4">
            <h5>Start Time</h5>
            <input ng-model='startTime' type='time' class="form-control" ng-change='checkInputs()'>
          </div>
          <div class="col-md-4">
            <h5>End Time</h5>
            <input type='time' ng-model='endTime' class="form-control" ng-change='checkInputs()'>
          </div>
        </div> 
        </br>
        </br>
        <button id='eventSubmission' type="button" class="btn btn-primary location-submit-button" ng-click='confirm()' style="float:right">Submit Event</button>
        </br>
        </br>
      </form>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>